html
    
    head
    
    body
        table
            tr
                th Date
                th Weight
            each item in weights
                tr
                    td= item.date
                    td= item.weight
