extends layout.pug


block content    
            
    table(class="table table-hover")
        tr
            th Date
            th Weight
        for item in weights
            tr
                td #{item.date}
                td #{item.weight}
