<html>
    <head></head>

    <body>

        <table>
            <tr>
                <th>Date</th>
                <th>Weight</th>
            </tr>

            {{#weights}}
                <tr>
                    <td>{{date}}</td>
                    <td>{{weight}}</td>
                </tr>
            {{/weights}}
        </table>

    </body>
</html>
