html
    
    head
        // bootstrap css
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    
    body
        
        div(class="container")
            
            block content
                    
        // jquery
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")

        // bootstrap js
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
